

<nav class="navbar navbar-inverse navbar-fixed-bottom hidden-xs">

	<div class="container" style="position: relative;">
		<div class="navbar-header">
			<a class="navbar-brand logo"></a>

		</div>
		<div class="footerCopyR">
			<span class="col-sm-12">Copyright © 2015</span>
		</div>

		<ul class="nav navbar-nav navbar-right">
			<li><a href="http://www.muvflix.com/TermsAndConditions.html" target="_blank">Terms of Use</a></li>
			<li><a href="http://www.muvflix.com/PrivacyPolicy.html" target="_blank">Privacy</a></li>
			<li><a target="_blank">Affiliates</a></li>

		</ul>

	</div>
</nav>


<div class="visible-xs footerMenu">
	<ul>
		<li class="col-sm-12"><a href="http://www.muvflix.com/TermsAndConditions.html" target="_blank">Terms of Use</a></li>
		<li class="col-sm-12"><a href="http://www.muvflix.com/PrivacyPolicy.html" target="_blank">Privacy</a></li>
		<li class="col-sm-12"><a target="_blank">Affiliates</a></li>
	</ul>
	<span class="col-sm-12">Copyright © 2015</span>
</div>
