<div class="container ">
	<landing2-header class="col-sm-12 row" ng-click="openCreateAccountDialog()"></landing2-header>
</div>
<landing2-top-bar1 class="col-sm-12 row hidden-xs" ng-click="openCreateAccountDialog()"></landing2-top-bar1>
<div class="container" ng-click="openCreateAccountDialog()">
	<landing2-player2 ng-init="initPlayer2()"></landing2-player2>
</div>
<div class="container" ng-click="openCreateAccountDialog()">
	<bottom-table1 class="col-sm-12 row bottom-table1" ></bottom-table1>
</div>