<div class="white-text header1">
	<div class="col-sm-8">
		<div class="HeaderLogo">
			<img ng-src={{data.logoImg}}> <span>{{data.title}}</span>
		</div>
		<div class="col-xs-12 visible-xs rank">
		<span>{{data.rank}}</span>
		<div class="starWrapper">
			<i class="material-icons">star</i><i class="material-icons">star</i><i
				class="material-icons">star</i><i class="material-icons">star</i><i
				class="material-icons">star</i>
		</div>
	</div>
		<h3>{{data.subtitle}}</h3>
	</div>
	<div class="col-sm-4 hidden-xs">
		<button class="btn greenBtn pull-right hidden-xs waves-effect waves-light"><font class="btnTitle"> {{data.btnTitle}}</font><br>
			<font class="btnSubTitle pull-right">{{data.btnSubTitle}}</font> </button>
		<div class="text-right col-sm-12 starWrapper">
			<i class="material-icons">star</i><i class="material-icons">star</i><i
				class="material-icons">star</i><i class="material-icons">star</i><i
				class="material-icons">star</i>
		</div>
	</div>
	
</div>
