<div class="col-sm-12" ng-init="initPlayer()">
	<div class="frame">
		<div class="embed-responsive embed-responsive-16by9"
			style="background-color: green;">
			<div class="screen" id="screen"></div>
			<div class="loading"></div>

		</div>
		<div class="loadingBar black">
			<div id="circularG"> Loading... </div>
			<div class="contentBar" id="contentBar">
				<span class="expand "></span> <span class="expand expandRed"></span>
			</div>
			<div class="innerControls hidden-xs"></div>
		</div>
		<div class="controls hidden-xs"></div>
	</div>
</div>
<div class="languages col-sm-12"></div>