<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8>
<title>Administration Tables</title>
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/adminStyle.css">
<link href="css/bootstrap-datepicker.css" rel="stylesheet" />

<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300"
	rel='stylesheet' type='text/css'>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<script src="js/bower_components/jquery/dist/jquery.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/xeditable.js"></script>
<script src="js/angular-mocks.js"></script>




<script src="js/app.AJS.js"></script>
<script src="js/admin.js"></script>
<style>
body {
	background-color: white;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    float: left;
    border: 1px solid #000;
    border-bottom-width: 0;
    margin: 3px 3px 0px 3px;
    padding: 5px 5px 0px 5px;
    background-color: #CCC;
    color: #696969;
}
#mainView {
    border: 1px solid black;
	clear: both;
	padding: 0 1em;
}
.active {
    background-color: #FFF;
    color: #000;
}
</style>
</head>

<body id="body">

<div ng-app="TabsApp">
    <div id="tabs" ng-controller="TabsCtrl">
        <ul>
            <li ng-repeat="tab in tabs" 
                ng-class="{active:isActiveTab(tab.url)}" 
                ng-click="onClickTab(tab)">{{tab.title}}</li>
        </ul>
        <div id="mainView">
            <div ng-include="currentTab"></div>
        </div>
    </div>

    <script type="text/ng-template" id="Affiliates.tpl.html">
	<div style>
		<div id="newAffiliate">
			<label for="name">Affiliate Name: </label><input type="text"
				id="name"><br> <label for="language">Language:
			</label><input type="text" id="language"><br> <label
				for="country">Country: </label><input type="text" id="country"><br>
			<button onclick="AddAffiliate()">Add Affiliate</button>
		</div>
		<button onclick="newAffiliate()">New</button>
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>NAME</th>
					<th>COUNTRY</th>
					<th>LANGUAGE</th>
				</tr>
			</thead>
			<tbody id="records_table"></tbody>
		</table>

	</div>
	</script>
	
	<script type="text/ng-template" id="Users.tpl.html">
		<div  ng-controller="Ctrl" ng-init="alert('init')" onload="alert('load')">
   <table class="table table-bordered table-hover table-condensed">
    <tr style="font-weight: bold">
      <td style="width:15%">ID</td>
      <td style="width:20%">NAME</td>
      <td style="width:20%">COUNTRY</td>
      <td style="width:20%">LANGUAGE</td>
    </tr>
    <tr ng-repeat="affiliate in affiliates">
      <td>
        <!-- editable username (text with validation) -->
        <span editable-text="user.name" e-name="name" e-form="rowform" onbeforesave="checkName($data, user.id)" e-required>
          {{ user.name || 'empty' }}
        </span>
      </td>
      <td>
        <!-- editable status (select-local) -->
        <span editable-select="user.country" e-name="country" e-form="rowform">
          {{ user.country || 'empty' }}
        </span>
      </td>
      <td>
        <!-- editable group (select-remote) -->
        <span editable-select="user.language" e-name="language" e-form="rowform" >
          {{ user.language || 'empty' }}
        </span>
      </td>
      <td style="white-space: nowrap">
        <!-- form -->
        <form editable-form name="rowform" onbeforesave="saveAffiliate($data, user.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == affiliate">
          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
            save
          </button>
          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
            cancel
          </button>
        </form>
        <div class="buttons" ng-show="!rowform.$visible">
          <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
          <button class="btn btn-danger" ng-click="removeAffiliate($index)">del</button>
        </div>  
      </td>
    </tr>
  </table>

  <button class="btn btn-default" ng-click="addAffiliate()">Add row</button>
</div>

	</script>
	
	<script type="text/ng-template" id="LoggedIn_Users.tpl.html">
		<div id="viewThree">
			<h1>View Three</h1>
			<p>In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu.</p>
		</div>
	</script>
	
	<script type="text/ng-template" id="Clicks.tpl.html">
		<div id="viewThree">
			<h1>View Three</h1>
			<p>In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu.</p>
		</div>
	</script>
</div>




</body>
</html>
