<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8>
<title>Administration Tables</title>
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/adminStyle.css">
<link href="css/bootstrap-datepicker.css" rel="stylesheet" />



<script src="js/bower_components/jquery/dist/jquery.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/xeditable.js"></script>

<script type="text/javascript" src="js/angular-resource.min.js"></script> 

<script src="js/api.js"></script>

<script src="js/app.AJS.js"></script>
<script src="js/admin.js"></script>
<style>
body {
	background-color: white;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    float: left;
    border: 1px solid #000;
    border-bottom-width: 0;
    margin: 3px 3px 0px 3px;
    padding: 5px 5px 0px 5px;
    background-color: #CCC;
    color: #696969;
}
#mainView {
    border: 1px solid black;
	clear: both;
	padding: 0 1em;
}
.active {
    background-color: #FFF;
    color: #000;
}
</style>
</head>

<body id="body">

<div ng-app="TabsApp">
    <div id="tabs" ng-controller="TabsCtrl">
        <ul>
            <li ng-repeat="tab in tabs" 
                ng-class="{active:isActiveTab(tab.url)}" 
                ng-click="onClickTab(tab)">{{tab.title}}</li>
        </ul>
        <div id="mainView">
            <div ng-include="currentTab"></div>
        </div>
    </div>

    <script type="text/ng-template" id="LoggedIn_Users.tpl.html">
	<div class="admin-panel">

	<h1>Logged In Users table</h1>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<button class="btn btn-primary left" ng-click="refreshLIUsers()">Refresh Data</button>
		</div>
		<table class="table table-hover"
			data-cg-busy="{promise:promise,message:'please wait',templateUrl:'bower/angular-busy/angular-busy.html'}">
			<thead>
      				<th>ID</th>
      				<th>IP</th>
      				<th>LOGIN DATE</th>
					<th>STATUS</th>
					<th>USER ID</th>
      				<th>USER MAIL</th>
			</thead>
	<tr ng-repeat="usr in loggedInUsers ">
				<td><span>{{ usr.id }}</span></td>
      				<td><span>{{ usr.ip }}</span></td>
					<td><span>{{ usr.logInDate | date }}</span></td>
					<td><span>{{ usr.status }}</span></td>
					<td><span>{{ usr.userId }}</span></td>
					<td><span>{{ showUser(usr.userId) }}</span></td>
					
			</tr>
		</table>
	</div>


</div>		
	</script>
	
	<script type="text/ng-template" id="Users.tpl.html">
<div class="admin-panel">

	<h1>Users table</h1>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<button class="btn btn-primary left" ng-click="refreshUsers()">Refresh Data</button>
		</div>
		<table class="table table-hover"
			data-cg-busy="{promise:promise,message:'please wait',templateUrl:'bower/angular-busy/angular-busy.html'}">
			<thead>
				<th>ID</th>
      				<th>User Email</th>
      				<th>userName</th>
      				<th>affiliateId</th>
					<th>registrationDate</th>
					<th>cancelationDate</th>
      				<th>status</th>
					<th>userCountry</th>
					<th>userPassword</th>
			</thead>
			<tr ng-repeat="usr in users ">
				<td><span>{{ usr.id }}</span></td>
      				<td><span>{{ usr.userEmail }}</span></td>
					<td><span>{{ usr.userName  }}</span></td>
					<td><span>{{ usr.affiliateId }}</span></td>
					<td><span>{{ usr.registrationDate | date}}</span></td>
					<td><span>{{ usr.cancelationDate | date }}</span></td>
					<td><span>{{ usr.status }}</span></td>
					<td><span>{{ usr.userCountry }}</span></td>
					<td><span>{{ usr.userPassword }}</span></td>
			</tr>
		</table>
	</div>


</div>		
	</script>
	
	<script type="text/ng-template" id="Affiliates.tpl.html">
		<div class="admin-panel">

	<h1>Affiliates table</h1>

	<div class="panel panel-default">
		<div class="panel-heading">
			<button class="btn btn-primary left" onclick="newAffiliate()">Add Affiliate</button>
			<button class="btn btn-primary left" ng-click="refreshAffiliates()">Refresh Data</button>
		</div>
		<table class="table table-hover"
			data-cg-busy="{promise:promise,message:'please wait',templateUrl:'bower/angular-busy/angular-busy.html'}">
			<thead>
				<th>ID</th>
      			<th>NAME</th>
      			<th>COUNTRY</th>
      			<th>LANGUAGE</th>
				<th>CSS</th>
				<th>POSTBACK</th>
			</thead>
			<tr ng-repeat="row in affiliates ">
				<td><span>{{ row.id }}</span></td>
				<td><span editable-text="row.affiliateName" e-name="affiliateName" e-form="rowform" onbeforesave="checkName($data, user.id)" e-required>
          {{ row.affiliateName || 'empty' }}
        </span></td>
				<td><span  editable-text="row.affiliateName" e-name="affiliateName"
					e-form="rowform" class="font-orange">{{ row.affiliateName }}</span></td>
				<td><span editable-text="row.countryId">{{ row.countryId  }}</span></td>
				<td><span editable-text="row.languageId">{{ row.languageId }}</span></td>
				<td><span editable-text="row.cssTheme">{{ row.cssTheme }}</span></td>
				<td><span editable-text="row.postback">{{ row.postback }}</span></td>
			</tr>
		</table>
	</div>
<div id="newAffiliate">
			<label for="name">Affiliate Name:</label>
			<input type="text" id="name" ng-model="aff.name"><br> 
			<label for="language">Language:</label>
			<input type="text" id="language" ng-model="aff.language"><br> 
			<label for="country">Country: </label>
			<input type="text" id="country" ng-model="aff.country"><br>

			<button ng-click=save(aff) onclick="addAffiliate()">Add Affiliate</button>
			<button onclick="Cancel()">Cancel</button>
		</div>


</div>
	</script>
	
	<script type="text/ng-template" id="Clicks.tpl.html">
		<div class="admin-panel">

	<h1>User Tracking table</h1>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<button class="btn btn-primary left" ng-click="refreshClicks()">Refresh Data</button>
		</div>
		<table class="table table-hover"
			data-cg-busy="{promise:promise,message:'please wait',templateUrl:'bower/angular-busy/angular-busy.html'}">
			<thead>
				<th>ID</th>
      				<th>affiliateId</th>
      				<th>countryId</th>
      				<th>cssTheme</th>
					<th>languageId</th>
					<th>step</th>
      				<th>userId</th>

			</thead>
			<tr ng-repeat="usr in clicks ">
				<td><span>{{ usr.id }}</span></td>
      				<td><span>{{ usr.affiliateId }}</span></td>
					<td><span>{{ usr.countryId  }}</span></td>
					<td><span>{{ usr.cssTheme }}</span></td>
					<td><span>{{ usr.languageId }}</span></td>
					<td><span>{{ usr.place  }}</span></td>
					<td><span>{{ usr.userId }}</span></td>
			</tr>
		</table>
	</div>


</div>		
	</script>
	<script type="text/ng-template" id="SupportRequest.tpl.html">
		<div class="admin-panel">

	<h1>User Tracking table</h1>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<button class="btn btn-primary left" ng-click="refreshSupportRequests()">Refresh Data</button>
		</div>
		<table class="table table-hover"
			data-cg-busy="{promise:promise,message:'please wait',templateUrl:'bower/angular-busy/angular-busy.html'}">
			<thead>
				<th>ID</th>
      				<th>creationDate</th>
      				<th>Message</th>
					<th>Message Code</th>
					<th>responseDate</th>
      				<th>status</th>
					<th>userEmail</th>
					<th>userId</th>
					<th>userName</th>

			</thead>
			<tr ng-repeat="usr in supportRequests ">
				<td><span>{{ usr.id }}</span></td>
      				<td><span>{{ usr.creationDate | date }}</span></td>
					<td><span>{{ usr.msg  }}</span></td>
					<td><span>{{ usr.msgCode }}</span></td>
					<td><span>{{ usr.responseDate | date}}</span></td>
					<td><span>{{ usr.status }}</span></td>
					<td><span>{{ usr.userEmail }}</span></td>
					<td><span>{{ usr.userId }}</span></td>
					<td><span>{{ usr.userName }}</span></td>
			</tr>
		</table>
	</div>


</div>		
	</script>
</div>




</body>
</html>
