<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8>
<title>Administration Tables</title>
<link rel="stylesheet" href="http://s3-eu-west-1.amazonaws.com/vodresources/css/normalize.css">
<link rel="stylesheet" href="http://s3-eu-west-1.amazonaws.com/vodresources/css/bootstrap.css">

<link href="http://s3-eu-west-1.amazonaws.com/vodresources/css/bootstrap-datepicker.css" rel="stylesheet" />
<link rel="stylesheet" href="http://s3-eu-west-1.amazonaws.com/vodresources/css/xeditable.css">

<link rel="stylesheet" href="http://s3-eu-west-1.amazonaws.com/vodresources/css/style.css" id="amazonCSS">
<link rel="stylesheet" href="http://s3-eu-west-1.amazonaws.com/vodresources/css/adminStyle.css" id="amazonAdminCSS">
<link rel="stylesheet" href="css/style.css" id="LHCSS">
<link rel="stylesheet" href="css/adminStyle.css" id="LHAdminCSS">

<link rel="stylesheet" href="css/date_picker.css">

 <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
 <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>

<script src="http://s3-eu-west-1.amazonaws.com/vodresources/js/bower_components/jquery/dist/jquery.min.js"></script>
<script src="http://s3-eu-west-1.amazonaws.com/vodresources/js/angular.min.js"></script>
<script src="http://s3-eu-west-1.amazonaws.com/vodresources/js/xeditable.js"></script>
<script type="text/javascript" src="http://s3-eu-west-1.amazonaws.com/vodresources/js/angular-resource.min.js"></script> 

<script src="https://api-test.wirecard.com/engine/hpp/paymentPageLoader.js"	type="text/javascript"></script>
	

<script src="http://s3-eu-west-1.amazonaws.com/vodresources/js/app.AJS.js" id="amazonJS"></script>
<script src="http://s3-eu-west-1.amazonaws.com/vodresources/js/admin.js" id="amazonAdminJS"></script>

<script src="js/datepicker.js"></script>

<script src="js/app.AJS.js" id="LHJS"></script>
<script src="js/admin.js" id="LHAdminJS"></script>

<style>
body {
	background-color: white;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    float: left;
    border: 1px solid #000;
    border-bottom-width: 0;
    margin: 3px 3px 0px 3px;
    padding: 5px 5px 0px 5px;
    background-color: #CCC;
    color: #696969;
}
#mainView {
    border: 1px solid black;
	clear: both;
	padding: 0 1em;
}
.active {
    background-color: #FFF;
    color: #000;
}
.panel-heading {
	display:flex;
	align-items: center;
}
.panel-heading > * {
	margin-right: 10px;
}
</style>
</head>

<body id="body">

<div ng-app="TabsApp">
    <div id="tabs" ng-controller="TabsCtrl">
        <ul>
            <li ng-repeat="tab in tabs" 
                ng-class="{active:isActiveTab(tab.url)}" 
                ng-click="onClickTab(tab)">{{tab.title}}</li>
        </ul>
        <div id="mainView">
            <div ng-include="currentTab"></div>
        </div>
    </div>

<!-- LOGGED IN USERS -->
<script type="text/ng-template" id="LoggedIn_Users.tpl.html">
<div class="admin-panel" ng-controller="LoggedInController">
	<h1>Logged In Users table</h1>
	<div class="panel panel-default">
		<div class="panel-heading">
			<button class="btn btn-primary left" ng-click="refreshLIUsers()">Refresh Data</button>
		</div>
		<table class="table table-hover"
			data-cg-busy="{promise:promise,message:'please wait',templateUrl:'bower/angular-busy/angular-busy.html'}">
			<thead>
      				<th>ID</th>
      				<th>IP</th>
      				<th>LOGIN DATE</th>
					<th>STATUS</th>
      				<th>USER MAIL</th>
			</thead>
			<tr ng-repeat="usr in loggedInUsers ">
				<td><span>{{ usr.loggedInUserId }}</span></td>
      				<td><span>{{ usr.ip }}</span></td>
					<td><span>{{ usr.logInDate | date:'dd/MM/yyyy HH:mm:ss Z' }}</span></td>
					<td><span>{{ showUserStatus(usr.user.status) }}</span></td>
					<td><span>{{ usr.user.userEmail }}</span></td>
			</tr>
		</table>
	</div>
	{{message}}
</div>		
	</script>
	
<!-- USERS -->
	<script type="text/ng-template" id="Users.tpl.html">
<div class="admin-panel" ng-controller="UserController">
	<h1>Users table</h1>
	<div class="panel panel-default">
		<div class="panel-heading">
			<button class="btn btn-primary left" ng-click="refreshUsers()">Refresh Data</button>
		</div>
		<table class="table table-hover"
			data-cg-busy="{promise:promise,message:'please wait',templateUrl:'bower/angular-busy/angular-busy.html'}">
			<thead>
				<th>ID</th>
      				<th>User Email</th>
      				<th>userName</th>
      				<th>affiliateId</th>
					<th>registrationDate</th>
					<th>cancelationDate</th>
      				<th>status</th>
					<th>userCountry</th>
					<th>userPassword</th>
			</thead>
			<tr ng-repeat="usr in users ">
				<td><span>{{ usr.id }}</span></td>
      				<td><span>{{ usr.userEmail }}</span></td>
					<td><span>{{ usr.userName  }}</span></td>
					<td><span>{{ usr.affiliateId }}</span></td>
					<td><span>{{ usr.registrationDate | date:'dd/MM/yyyy HH:mm:ss Z' }}</span></td>
					<td><span>{{ usr.cancelationDate | date:'dd/MM/yyyy HH:mm:ss Z' }}</span></td>
					<td><span>{{ showUserStatus(usr.status) }}</span></td>
					<td><span>{{ usr.userCountry }}</span></td>
					<td><span>{{ usr.userPassword }}</span></td>
			</tr>
		</table>
	</div>
   {{message}}
</div>		
	</script>
	
	
	
	<!-- AGREGATORS  -->
	<script type="text/ng-template" id="Agregators.tpl.html">
	<div class="admin-panel" ng-controller="AgregatorsController">
	<h1>Agregators table</h1>
	<div class="panel panel-default">
		<div class="panel-heading">
			<button class="btn btn-primary left" ng-click="addAgregator()">Add Agregator</button>
			<button class="btn btn-primary left" ng-click="refreshAgregators()">Refresh Data</button>
		</div>
		<table class="table table-bordered table-hover table-condensed"  ng-hide = "update">
			<thead>
				<th>ID</th>
      			<th>NAME</th>
      			<th>FEES</th>
				<th>TRANSACTION COST</th>
				<th>REFOUNDFEES</th>
				<th>CHARGE BACK</th>
				<th>TRANSFER FREES</th>
				<th>EXCHANGE FREES</th>
			</thead>

			<tr ng-repeat="row in agregators ">
				<td><span> {{ row.agregatorId || 'empty' }}</span></td>
	      		<td><span> {{ row.agregatorName || 'empty' }}</span></td>
				<td><span> {{ row.fees || 'empty' }}</span></td>
				<td><span>{{ row.transactionCost }}</span></td>
				<td><span>{{ row.refoundFees }}</span></td>
				<td><span>{{ row.chargeBack }}</span></td>
				<td><span>{{ row.transferFees }}</span></td>
				<td><span>{{ row.exchangeRangeFees }}</span></td>
	      		</td>
			</tr>
		</table>
	</div>
{{message}}
	<div id="newAgregator" ng-show = "update">
			<label for="name">Agregator Name:</label> <input type="text" id="name" ng-model="agregator.name"><br>
			<button ng-click="saveAgregator(agregator)">Add Agregator</button>
			<button onclick="Cancel()">Cancel</button>
		</div>


</div>
	</script>
	<!-- AFFILIATES  -->
	<script type="text/ng-template" id="Affiliates.tpl.html">
	<div class="admin-panel" ng-controller="AffiliateController">
	<h1>Affiliates table</h1>
	<div class="panel panel-default">
		<div class="panel-heading">
			<button class="btn btn-primary left" onclick="newAffiliate()">Add Affiliate</button>
			<button class="btn btn-primary left" ng-click="refreshAffiliates()">Refresh Data</button>
		</div>
		<table class="table table-bordered table-hover table-condensed">
			<thead>
				<th>ID</th>
      			<th>NAME</th>
      			<th>COUNTRY</th>
				<th>CSS</th>
				<th>POSTBACK</th>
				<th>POSTBACKTYPE</th>
				<th>PRICE</th>
			</thead>
			<tr ng-repeat="row in affiliates ">
				<td><span>
	          {{ row.affiliate.affiliateId || 'empty' }}</span></td>
	      	<td><span editable-text="row.affiliate.affiliateName" e-name="name" e-form="rowform" e-required>
	          {{ row.affiliate.affiliateName || 'empty' }}</span></td>
				<td><span editable-text="row.country.countryName" e-name="country" e-form="rowform"  e-required>
	          {{ row.country.countryName || 'empty' }}</span></td>
				<td><span editable-text="row.cssTheme" e-name="cssTheme" 
							e-form="rowform" e-required>{{ row.cssTheme }}</span></td>
				<td><span editable-text="row.postback" e-name="postback" 
							e-form="rowform" e-required>{{ row.postback }}</span></td>
				<td><span editable-text="row.postbackType" e-name="postbackType" 
							e-form="rowform" e-required>{{ row.postbackType }}</span></td>
				<td><span editable-text="row.price" e-name="price" 
							e-form="rowform" e-required>{{ row.price }}</span></td>
	      		</td>
			</tr>
		</table>
	</div>
{{message}}
	<div id="newAffiliate">
			<label for="name">Affiliate Name:</label> <input type="text" id="name" ng-model="aff.name"><br> 
			<label for="language">Language:</label> <input type="text" id="language" ng-model="aff.language"><br> 
			<label for="country">Country: </label> <input type="text" id="country" ng-model="aff.country"><br>
			<label for="postBack">Postback: </label> <input type="text" id="postBack" ng-model="aff.postBack"><br>
			<label for="postBackType">postBackType: </label> <select id="postBackType" ng-options="pb as pb.text for pb in postBackTypes track by pb.text" ng-model="aff.postBackType"></select><br>
			<label for="css">CSS: </label> <input type="text" id="css" ng-model="aff.css"><br>
			<label for="price">Price: </label> <input type="text" id="price" ng-model="aff.price"><br>
			<button ng-click="saveAffiliate(aff)">Add Affiliate</button>
			<button onclick="Cancel()">Cancel</button>
		</div>


</div>
	</script>
	
		<!-- ALLOWED IPs  -->
	<script type="text/ng-template" id="AllowedIPs.tpl.html">
	<div class="admin-panel" ng-controller="IPController">
	<h1>Allowed IPs table</h1>
	<div class="panel panel-default" ng-hide="update">
		<div class="panel-heading">
			<button class="btn btn-primary left" ng-click="addIP()">Add IP</button>
			<button class="btn btn-primary left" ng-click="refreshIPs()">Refresh Data</button>
		</div>
		<table class="table table-bordered table-hover table-condensed">
			<thead>
				<th>ID</th>
      			<th>IP</th>
      			<th>DSC</th>
				<th>Status</th>
			</thead>
			<tr ng-repeat="row in IPs ">
				<td><span>{{ row.allowedIpId }}</span></td>
	      		<td><span>{{ row.ip || 'empty' }}</span></td>
				<td><span>{{ row.dsc || 'empty' }}</span></td>
				<td><span>{{ row.status }}</span></td>
			</tr>
		</table>
	</div>
{{message}}
	<div id="newIP" ng-show="update">
			<label for="name">IP Description:</label> <input type="text" id="name" ng-model="ip.name"><br> 
			<label for="IP">IP:</label> <input type="text" id="IP" ng-model="ip.ip"><br> 
			
			<button ng-click="saveIP(ip)">Add IP</button>
			<button onclick="Cancel()">Cancel</button>
		</div>


</div>
	</script>
	
	<!-- TRACKING -->
	<script type="text/ng-template" id="Clicks.tpl.html">
		<div class="admin-panel" ng-controller="ClickController">

	<h1>User Tracking table</h1>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<button class="btn btn-primary left" ng-click="refreshClicks()">Refresh Data</button>
		</div>
		<table class="table table-hover"
			data-cg-busy="{promise:promise,message:'please wait',templateUrl:'bower/angular-busy/angular-busy.html'}">
			<thead>
					<th>IP</th>
					<th>User Agent</th>
      				<th>Affiliate</th>
      				<th>Date</th>
      				<th>Click ID</th>
					<th>Country</th>
					<th>Step</th>
      				<th>cssTheme</th>
					<th>Language</th>
					<th>User</th>
			</thead>
			<tr ng-repeat="click in clicks ">
				<td><span>{{ click.IP }}</span></td>
				<td><span>{{ click.userAgent}}</span></td>
      				<td><span>{{ click.affiliate.userEmail +" "+click.affiliate.userName  }}</span></td>
					<td><span>{{ click.clickDt | date:'dd/MM/yyyy HH:mm:ss Z'   }}</span></td>
					<td><span>{{ click.clickId }}</span></td>
					<td><span>{{ click.country }}</span></td>
					<td><span>{{ showTrackingCodes(click.step)  }}</span></td>
					<td><span>{{ click.cssTheme }}</span></td>
					<td><span>{{ click.user.userEmail }}</span></td>
					<td><span>{{ click.language }}</span></td>
			</tr>
		</table>
	</div>
{{message}}
</div>		
</script>
<!-- POSTBACK -->
	<script type="text/ng-template" id="PostBackTracking.tpl.html">
		<div class="admin-panel" ng-controller="PostBackController">

	<h1>PostBack Tracking table</h1>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<button class="btn btn-primary left" ng-click="refreshPostBacks()">Refresh Data</button>
		</div>
		<table class="table table-hover"
			data-cg-busy="{promise:promise,message:'please wait',templateUrl:'bower/angular-busy/angular-busy.html'}">
			<thead>
				<th>clickID</th>
      				<th>IP</th>
      				<th>status</th>
					<th>notes</th>
					<th>Affiliate Name</th>
			</thead>
			<tr ng-repeat="usr in postBacks ">
				<td><span>{{ usr.clickID }}</span></td>
      				<td><span>{{ usr.IP }}</span></td>
					<td><span>{{ usr.status  }}</span></td>
					<td><span>{{ usr.notes }}</span></td>
					<td><span>{{ usr.affiliate.affiliateName }}</span></td>
			</tr>
		</table>
	</div>
{{message}}
</div>		
	</script>
	
	<!-- SUPPORT REQUESTS -->
	<script type="text/ng-template" id="SupportRequest.tpl.html">
	<div class="admin-panel" ng-controller="SupportController">
		<h1>Support Requests table</h1>
		<div class="panel panel-default">
			<div class="panel-heading">
				<button class="btn btn-primary left" ng-click="refreshSupportRequests()">Refresh Data</button>
			</div>
			<table class="table table-hover"
				data-cg-busy="{promise:promise,message:'please wait',templateUrl:'bower/angular-busy/angular-busy.html'}">
				<thead>
					<th>ID</th>
      				<th>creationDate</th>
      				<th>Message</th>
					<th>Message Code</th>
					<th>responseDate</th>
      				<th>status</th>
					<th>userEmail</th>
					<th>userId</th>
					<th>userName</th>
				</thead>
				<tr ng-repeat="support in supportRequests ">
					<td><span>{{ support.id }}</span></td>
      				<td><span>{{ support.creationDate | date:'dd/MM/yyyy HH:mm:ss Z' }}</span></td>
					<td><span>{{ support.msg  }}</span></td>
					<td><span>{{ support.msgCode }}</span></td>
					<td><span>{{ support.responseDate | date}}</span></td>
					<td><span>{{ support.status }}</span></td>
					<td><span>{{ support.userEmail }}</span></td>
					<td><span>{{ support.userId }}</span></td>
					<td><span>{{ support.userName }}</span></td>
					<td ng-disabled={{support.status}}><button class="btn btn-primary left" ng-click="updateStatus(support)">Check as done</button><td>
					<td><button>Done</button></td>
				</tr>
			</table>
		</div>
{{message}}
	</div>		
	</script>

<!-- LANGUAGES -->
<script type="text/ng-template" id="Languages.tpl.html">

<div class="admin-panel"  ng-controller="LanguagesController">
	<h1>Languages table</h1>
	<div class="panel panel-default" ng-hide="update">
		<div class="panel-heading">
			<button class="btn btn-primary left" ng-click="newLanguage()">Add Language</button>
			<button class="btn btn-primary left" ng-click="refreshLanguages()">Refresh Data</button>
		</div>
	   <table class="table table-bordered table-hover table-condensed">
	    <tr style="font-weight: bold">
	      <td>ID</td>
	      <td>DSC</td>
	    </tr>
	    <tr ng-repeat="l in languages">
	      <td>
	        <span>{{ l.languageId || 'empty' }}</span>
	      </td>
	      <td>
	        <span>{{ l.languageDsc || 'empty' }}</span>
	      </td>
	    </tr>
	  </table>
	</div>
{{message}}
	<div id="newLanguage" ng-show="update">
			<label for="name">Language:</label> <input type="text" id="name" ng-model="lang.name"><br> 
			<button ng-click="addLanguage(lang)">Add Language</button>
			<button ng-click="Cancel()">Cancel</button>
		</div>
	</script>
	
<!-- COUNTRIES -->
<script type="text/ng-template" id="Countries.tpl.html">

<div class="admin-panel"  ng-controller="CountriesController">
	<h1>Countries table</h1>
	<div class="panel panel-default" ng-hide="update">
		<div class="panel-heading">
			<button class="btn btn-primary left" ng-click="initCountries()">Init Countries</button>
			<button class="btn btn-primary left" ng-click="newCountry()">Add Country</button>
			<button class="btn btn-primary left" ng-click="refreshCountries()">Refresh Data</button>
		</div>
	   <table class="table table-bordered table-hover table-condensed">
	    <tr style="font-weight: bold">
	      <td>ID</td>
		  <td>NAME</td>
	      <td>CODE</td>
		  <td>ALLOWED</td>
		  <td>LANGUAGES</td>
		  <td>AMOUNT</td>
		  <td>CURRENCY</td>
	    </tr>
	    <tr ng-repeat="country in countries">
	      <td>
	        <span>{{ country.country.countryId || 'empty' }}</span>
	      </td>
		  <td>
	        <span>{{ country.country.countryName || 'empty' }}</span>
	      </td>	
		<td>
	        <span>{{ country.country.countryCode || 'empty' }}</span>
	      </td>	
			<td>
	        <span>{{ country.country.allowed || 'false' }}</span>
	      </td>	
	      <td>
	        <span>{{ country.langs }}</span>
	      </td>
		  <td>
	        <span>{{ country.country.amount }}</span>
	      </td>
		  <td>
	        <span>{{ country.country.amountCurrency }}</span>
	      </td>
			<td>
				<button class="btn btn-primary left" ng-click="upd(country)">Update</button>
				<button class="btn btn-primary left" ng-click="del($index,country)">Delete</button>
			</td>
	    </tr>
	  </table>
	</div>
{{countryMessage}}

	<div id="newCountry" ng-show="update" ng-model="selectedCountry">
			<label for="name">Country name:</label> <input type="text" id="name" ng-model="selectedCountry.name"><br> 
			<label for="code">Country code:</label> <input type="text" id="code" ng-model="selectedCountry.code"><br>
			<label for="amount">Amount:</label> <input type="text" id="amount" ng-model="selectedCountry.amount"><br> 
 			<label for="currency">Currency:</label> <select id="currency" ng-options="currency as currency.text for currency in Currencies track by currency.text" ng-model="selectedCountry.amountCurrency"></select><br>

			<label for="allowed">Country allowed:</label> <input type="checkbox" ng-model="selectedCountry.allowed"
           ng-true-value="'1'" ng-false-value="'0'"><br> 
			<label for="languages">Languages:</label> 
				<label ng-repeat="lang in languages" ng-model="selectedCountry.languages">
  					<input type="checkbox" ng-model="lang.value" ng-true-value="'1'" ng-false-value="'0'" ng-click="checkMe(lang,$index)"> {{lang.languageDsc}}
				</label><br> 
			<button ng-click="addCountry(selectedCountry)">Add Country</button>
			<button ng-click="Cancel()">Cancel</button>
		</div>
	</script>
	
	
	<!-- Transactions -->
	<script type="text/ng-template" id="Transactions.tpl.html">
		<div class="admin-panel" ng-controller="TransactionController">

	<h1>Transactions table</h1>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<button class="btn btn-primary left" ng-click="refreshTransactions()">Refresh Data</button>
		</div>
		<table class="table table-hover"
			data-cg-busy="{promise:promise,message:'please wait',templateUrl:'bower/angular-busy/angular-busy.html'}">
			<thead>

				<th>Id</th>
      			<th>Date</th>
      			<th>Authorization Code</th>
				<th>Card Type</th>
				<th>Completion Time</th>
				<th>Expiration Date</th>
				<th>Account Number</th>
				<th>MAID</th>
				<th>Payment Method</th>
				<th>Request Id</th>
				<th>Requested Amount</th>
				<th>Currency</th>
				<th>Status Code</th>
				<th>Status Description</th>
				<th>Token Id</th>
				<th>Transaction ID</th>
				<th>Transaction State</th>
				<th>Transaction Type</th>
				<th>User</th>
				<th>User Status</th>
				<th>Affiliate</th>
				<th>Country</th>
				<th>Click ID</th>
	
				
			</thead>
			<tr ng-repeat="t in transactions ">
				<td><span>{{ t.transactionId }}</span></td>
      			<td><span>{{ t.transactionDate | date:'dd/MM/yyyy HH:mm:ss Z' }}</span></td>
				<td><span>{{ t.authorizationCode  }}</span></td>
				<td><span>{{ t.cardType }}</span></td>
				<td><span>{{ t.completionTimeStamp| date:'dd/MM/yyyy HH:mm:ss Z' }}</span></td>
				<td><span>{{ t.expirationMonth + "/" + t.expirationYear}}</span></td>
				<td><span>{{ t.maskedAccountNumber }}</span></td>
				<td><span>{{ t.merchantAccountId }}</span></td>
				<td><span>{{ t.paymentMethod }}</span></td>
				<td><span>{{ t.requestId }}</span></td>
				<td><span>{{ t.requestedAmount }}</span></td>
				<td><span>{{ t.requestedAmountCurrency }}</span></td>
				<td><span>{{ t.statusCode }}</span></td>
				<td><span>{{ t.statusDescription }}</span></td>
				<td><span>{{ t.tokenId }}</span></td>
				<td><span>{{ t.transactionIdFromRequest }}</span></td>
				<td><span>{{ t.transactionState }}</span></td>
				<td><span>{{ t.transactionType }}</span></td>
				<td><span>{{ t.user.userEmail }}</span></td>
				<td><span>{{ t.user.status }}</span></td>
				<td><span>{{ t.affiliate.affiliateName }}</span></td>
				<td><span>{{ t.country.countryCode }}</span></td>
				<td><span>{{ t.clickID }}</span></td>
				<td><button ng-click="checkPayment(t)">Click Me</button></td>
			</tr>
		</table>
	</div>
{{message}}
</div>		

	</script>
	
	<!-- BillingController-->
	<script type="text/ng-template" id="Billing.tpl.html">
		<div class="admin-panel" ng-controller="BillingController">

	<h1>Billing table</h1>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<button class="btn btn-primary left" ng-click="refreshBillings()">Refresh Data</button>

			<label for="startDt">Start Date: </label> 
			<select id="startDt" ng-options="o as o for o in startDates" data-ng-model="stDate" style="width: auto;"></select>
			<label for="dt">Choose Report Date: </label>
        	<input id="currentDt" type="text" data-datepicker="{theme: 'flat'}" data-ng-model="currentDt" ng-change="alertMe(currentDt)" />
				{{currentDt}}

			
		</div>

		<table class="table table-hover"
			data-cg-busy="{promise:promise,message:'please wait',templateUrl:'bower/angular-busy/angular-busy.html'}">
			<thead>

				<th>User</th>
      			<th>Registration Date</th>
      			<th>Authorization Captured</th>
				<th>Last Billing</th>
				<th>Last Billing Amount</th>
			</thead>
			<tr ng-repeat="b in billings ">
				<td><span>{{ b.user.userId + " - " + b.user.userEmail }}</span></td>
      			<td><span>{{ b.user.completionTimeStamp | date:'dd/MM/yyyy HH:mm:ss Z' }}</span></td>
				<td><span>{{ b.user.autorizationCaptured || false }}</span></td>
				<td><span> {{ b.lastBilling | date:'dd/MM/yyyy HH:mm:ss Z' || 'No Billings'}}</span></td>
				<td><span> {{ b.lastBillingAmount || 'No Billings'}}</span></td>
				<td><button ng-click="sendPayment(b)">Send Payment Request</button></td>
			</tr>
		</table>

	</div>
{{message}}
</script>


<!-- Declined Users-->
	<script type="text/ng-template" id="DeclinedUsers.tpl.html">
		<div class="admin-panel" ng-controller="DeclinedUsersController">

	<h1>Declined Users table</h1>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<button class="btn btn-primary left" ng-click="refreshBillings()">Refresh Data</button>
		</div>

		<table class="table table-hover"
			data-cg-busy="{promise:promise,message:'please wait',templateUrl:'bower/angular-busy/angular-busy.html'}">
			<thead>

				<th>User</th>
      			<th>Registration Date</th>
      			<th>Authorization Captured</th>
				<th>Last Billing</th>
	
				
			</thead>
			<tr ng-repeat="b in billings ">
				<td><span>{{ b.user.userId + " - " + b.user.userEmail }}</span></td>
      			<td><span>{{ b.user.completionTimeStamp | date:'dd/MM/yyyy HH:mm:ss Z' }}</span></td>
				<td><span>{{ b.user.autorizationCaptured || false }}</span></td>
				<td><span> {{ b.lastBilling | date:'dd/MM/yyyy HH:mm:ss Z' || 'No Billings'}}</span></td>
				
				<td><button ng-click="sendPayment(b)">Send Payment Request</button></td>
				<td><button class="btn btn-danger" ng-click="cancel(b)">Cancel Account</button></td>
			</tr>
		</table>

		<div class="form-group" ng-show="cancelling">
  			<label for="comment">Cancel Cause:</label>
  			<textarea class="form-control" rows="5" id="comment" ng-model="cancelCause"></textarea>
			<button class="btn btn-danger" ng-click="sendCancel()">Send Cancel</button>
		</div>
	</div>
{{message}}
</script>
</div>
<div class="mask"></div>



</body>
</html>
